<div class="row">
  <table>
    <tr>
      <td class="red" (click)="Changecolor('red')">Testing</td>
      <td class="green" (click)="Changecolor('green')">Testing</td>
      <td class="black" (click)="Changecolor('black')">Testing</td>
      <td class="blue" (click)="Changecolor('blue')">Testing</td>
      <td class="yellow" (click)="Changecolor('yellow')">Testing</td>
      <td class="pink" (click)="Changecolor('pink')">Testing</td>
    </tr>
  </table>
  <br><hr><br>
  <div [ngClass]="{'result-blue': color=='blue', 'result-red': color=='red', 'result-green': color=='green',
       'result-black': color=='black', 'result-yellow': color=='yellow','result-pink': color=='pink' }" *ngIf="color!=''">
    You have selected {{color}}
  </div>
  <div *ngIf="color==''">
    Select Any Color
  </div>

</div>